[submodule "mamba-debugger"]
	path = mamba-debugger
	url = https://github.com/maxwell3025/mamba-debugger
[submodule "Integrated-Gradients"]
	path = Integrated-Gradients
	url = https://github.com/ankurtaly/Integrated-Gradients.git
[submodule "OmniXAI"]
	path = OmniXAI
	url = https://github.com/salesforce/OmniXAI.git
[submodule "SSD-tutorial"]
	path = SSD-tutorial
	url = https://github.com/sgrvinod/a-PyTorch-Tutorial-to-Object-Detection
[submodule "investigating-mamba-ioi"]
	path = investigating-mamba-ioi
	url = https://github.com/Phylliida/investigating-mamba-ioi.git
[submodule "selective-copying-mamba"]
	path = selective-copying-mamba
	url = https://github.com/maxwell3025/selective-copying-mamba.git
[submodule "tensorflow-2-feature-visualization-notebooks"]
	path = tensorflow-2-feature-visualization-notebooks
	url = https://github.com/timsainb/tensorflow-2-feature-visualization-notebooks.git
[submodule "visualizing-cnn-feature-maps"]
	path = visualizing-cnn-feature-maps
	url = https://github.com/fg91/visualizing-cnn-feature-maps.git